# Xcode / Swift (simple + helpful)

## macOS
.DS_Store

## Xcode build outputs
DerivedData/
build/
*.xcarchive
*.dSYM
*.dSYM.zip

## Xcode user-specific files (should not be committed)
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

## Swift Package Manager
.build/
.swiftpm/
Package.resolved

## CocoaPods
Pods/

## Carthage
Carthage/Build/

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

## Code injection
iOSInjectionProject/


